:root {
    --bg-dark: #000000;
    --bg-second-dark: #17191f;
    --bg-second-accent-dark: #14161b;
    --bg-darked: #12141b;
    --bg-chat: #1e2129;
    --bg-chat-2: #252a2f;
    --df-color: #313437;
}
.autocomplete-items {
    flex: 1 1 auto;
    z-index: 99;
}
.autocomplete-items div {
    padding: .438rem;
    cursor: pointer;
    background-color: var(--bg-second-dark); 
    border-bottom: 1px solid var(--df-color); 
}
.autocomplete-items div:hover {
    background-color: var(--bg-darked); 
}
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
.emoteInfo{
    position: relative;
    display: inline-block;
}
.emoteInfo .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--bg-dark);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .emoteInfo .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bg-dark) transparent transparent transparent;
  }
  
  .emoteInfo:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
#bb-pin-container {
    box-shadow: 0 8px 8px -5px #000;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99998;
}
#bb-pinned-highlight {
    background-color: rgba(255,0,0,.5);
    color: #fff;
    font-size: .8572em;
    font-weight: 700;
    padding: 2px 10px;
}
#bb-pinned-highlight .close {
    fill: #fff;
    cursor: pointer;
}

#bb-pinned-highlight span {
    padding-right: 5px;
}
#bb-pinned-highlight .message {
    word-break: break-word;
}